# Exploring NYT API Archive results in a MongoDB

### **0. Start MongoDB Docker Container**    
Start a docker container with the MongoDB image that runs in the backgroung, so you don't need to install mongo in your machine.  

```bash
docker run -d -e MONGO_INITDB_ROOT_USERNAME=root -e MONGO_INITDB_ROOT_PASSWORD=1234 -p 27017:27017 --name my_mongo_daemon_3 mongo
```

In [25]:
#!/usr/bin/python
import subprocess

with open("output.log", "a") as output:
    subprocess.call(
        "docker run -d -e MONGO_INITDB_ROOT_USERNAME=root -e MONGO_INITDB_ROOT_PASSWORD=1234 -p 27017:27017 --name my_mongo_daemon_3 mongo", 
        shell=True, 
        stdout=output, 
        stderr=output
    )

### **1. Import libraries**

In [26]:
#!/usr/bin/env python3
import pymongo
import os
import json
import pandas as pd
import pprint as pp

### **2. Connecting to the Database**

In [27]:
myclient = pymongo.MongoClient("mongodb://root:1234@localhost:27017/")

In [28]:
myclient.list_database_names()

['admin', 'config', 'local']

In [ ]:
## !!!! Drop database - Only for test
# myclient.drop_database('nyt_db_mongo')

### **3. Create the Database and the Collection**

In [29]:
# Create database
nyt_db = myclient["nyt_db_mongo"]

# Create database collection
nyt_articles_coll = nyt_db["nyt_articles_coll"]

### **4. Populate the Database with the obtained JSON files**
The JSON files were obtained running the script `etl/extract_data.sh`

In [30]:
## Read json files and insert in MongoDB

# Read data directory
directory = '../input_data'

# Iterate over .json files on the directory
for filename in os.listdir(directory):
    file_data = ''
    json_file = os.path.join(directory, filename)

    # only process files not directories
    if not os.path.isfile(json_file):
        continue
    
    # only process .json files
    if not json_file.lower().endswith('.json'):
        continue
            
    print(json_file)
    
    # read one json file
    try:
        with open(json_file, encoding="utf8") as file:
            file_data = json.load(file)
    except Exception as e:
        print(">>> An 'open file' exception : ", e, " occurred on file:", json_file, "\n")
        continue
    
    # insert in the collection
    try:
        nyt_articles_coll.insert_many(file_data["response"]["docs"])
    except Exception as e:
        print(">>> An 'insert_many' exception : ", e, " occurred on file:", json_file, "\n")
        continue

../input_data/NYT_2021_1.json
../input_data/NYT_2022_1.json

### **5. Test the Database**

In [31]:
# print the total number of articles
total_articles = nyt_articles_coll.count_documents({})
print("The number of articles in this collections is", total_articles)

The number of articles in this collections is 10800

In [32]:
# display one of the documents in this collection
pp.pprint(nyt_articles_coll.find_one())

{'_id': 'nyt://article/ab590671-f1be-5b6d-8212-a7d18aabb873',
 'abstract': 'Reasons to be hopeful about the Biden economy.',
 'byline': {'organization': None,
            'original': 'By Paul Krugman',
            'person': [{'firstname': 'Paul',
                        'lastname': 'Krugman',
                        'middlename': None,
                        'organization': '',
                        'qualifier': None,
                        'rank': 1,
                        'role': 'reported',
                        'title': None}]},
 'document_type': 'article',
 'headline': {'content_kicker': None,
              'kicker': None,
              'main': 'Things Will Get Better. Seriously.',
              'name': None,
              'print_headline': 'Things Will Get Better. Seriously.',
              'seo': None,
              'sub': None},
 'keywords': [{'major': 'N',
               'name': 'persons',
               'rank': 1,
               'value': 'Biden, Joseph R Jr'},
              {'major': 'N',
               'name': 'subject',
               'rank': 2,
               'value': 'United States Economy'},
              {'major': 'N',
               'name': 'subject',
               'rank': 3,
               'value': 'Labor and Jobs'},
              {'major': 'N',
               'name': 'subject',
               'rank': 4,
               'value': 'Alternative and Renewable Energy'},
              {'major': 'N',
               'name': 'subject',
               'rank': 5,
               'value': 'Stimulus (Economic)'},
              {'major': 'N',
               'name': 'subject',
               'rank': 6,
               'value': 'Vaccination and Immunization'},
              {'major': 'N',
               'name': 'subject',
               'rank': 7,
               'value': 'Coronavirus (2019-nCoV)'},
              {'major': 'N',
               'name': 'subject',
               'rank': 8,
               'value': 'United States Politics and Government'}],
 'lead_paragraph': 'The next few months will be hell in terms of politics, '
                   'epidemiology and economics. But at some point in 2021 '
                   'things will start getting better. And thereâ€™s good reason '
                   'to believe that once the good news starts, the improvement '
                   'in our condition will be much faster and continue much '
                   'longer than many people expect.',
 'multimedia': [{'caption': None,
                 'credit': None,
                 'crop_name': 'articleLarge',
                 'height': 393,
                 'legacy': {'xlarge': 'images/2020/12/31/opinion/31krugman1/31krugman1-articleLarge.jpg',
                            'xlargeheight': 393,
                            'xlargewidth': 600},
                 'rank': 0,
                 'subType': 'xlarge',
                 'subtype': 'xlarge',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-articleLarge.jpg',
                 'width': 600},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'jumbo',
                 'height': 670,
                 'legacy': {},
                 'rank': 0,
                 'subType': 'jumbo',
                 'subtype': 'jumbo',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-jumbo.jpg',
                 'width': 1024},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'superJumbo',
                 'height': 1341,
                 'legacy': {},
                 'rank': 0,
                 'subType': 'superJumbo',
                 'subtype': 'superJumbo',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-superJumbo.jpg',
                 'width': 2048},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'thumbStandard',
                 'height': 75,
                 'legacy': {'thumbnail': 'images/2020/12/31/opinion/31krugman1/31krugman1-thumbStandard.jpg',
                            'thumbnailheight': 75,
                            'thumbnailwidth': 75},
                 'rank': 0,
                 'subType': 'thumbnail',
                 'subtype': 'thumbnail',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-thumbStandard.jpg',
                 'width': 75},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'thumbLarge',
                 'height': 150,
                 'legacy': {},
                 'rank': 0,
                 'subType': 'thumbLarge',
                 'subtype': 'thumbLarge',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-thumbLarge.jpg',
                 'width': 150}],
 'news_desk': 'OpEd',
 'print_page': '18',
 'print_section': 'A',
 'pub_date': '2021-01-01T00:00:09+0000',
 'section_name': 'Opinion',
 'snippet': 'Reasons to be hopeful about the Biden economy.',
 'source': 'The New York Times',
 'type_of_material': 'Op-Ed',
 'uri': 'nyt://article/ab590671-f1be-5b6d-8212-a7d18aabb873',
 'web_url': 'https://www.nytimes.com/2020/12/31/opinion/2021-economy-recovery.html',
 'word_count': 882}

In [99]:
def print_results_in_dataframe(query_results):
    '''
    Display the results of MongoDB query in a table with Pandas
    '''
    list_cur = list(query_results)    # Converting cursor to the list of dictionaries
    df = pd.DataFrame(list_cur)       # Converting to the DataFrame  
    display(df)                       # Printing the df to console

### **6. Queries**

#### Articles count by a given author

In [109]:
# Articles count by author

# It should be exact
byline_person_firstname = "Paul"
byline_person_lasttname = "Krugman"

pipeline = [
    {
        "$match": {
            "byline.person": {
                "$elemMatch": {
                    "firstname": byline_person_firstname,
                    "lastname": byline_person_lasttname
                }
            }
        }
    },
    {
        "$count": "articles"
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)
print_results_in_dataframe(query_results)

   articles
0        26

#### Return the byline firstname and lastname that have the given firstname or lastname

In [112]:
# Return the byline firstname and lastname that have the given firstname or lastname

byline_person_firstname = "Paul"
byline_person_lasttname = "Krugman"

pipeline = [
    {
        "$match": {
            "$or": [
                { "byline.person.firstname": { "$regex": byline_person_firstname, "$options": "i" } },
                { "byline.person.lastname": { "$regex": byline_person_lasttname, "$options": "i" } }
            ]
        }
    },
    {
        "$group": {
            "_id": {
                "firstname": "$byline.person.firstname",
                "lastname": "$byline.person.lastname"
            }
        }
    },
    {
        "$project": {
            "_id": 0,
            "firstname": "$_id.firstname",
            "lastname": "$_id.lastname"
        }
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)
print_results_in_dataframe(query_results)

                       firstname                       lastname
0                        [Paula]                         [Span]
1                         [Paul]                     [Sullivan]
2                   [Alan, Paul]             [Rappeport, Mozur]
3                         [Paul]                      [Krugman]
4                         [Paul]                             []
5                [Godwyn, Paula]               [Morris, Frisch]
6                         [Paul]                    [Stenquist]
7   [Motoko, Hisako, Mike, Paul]      [Rich, Ueno, Ives, Mozur]
8                  [Paul, Aaron]                [Mozur, Krolik]
9           [Paul, Steven, John]            [Mozur, Myers, Liu]
10                        [Paul]                        [Mozur]
11                        [Paul]                      [Salopek]
12                  [Paul, Cade]                  [Mozur, Metz]
13    [Jack, Chris, Chuck, Paul]  [Danforth, Dodd, Hagel, Kirk]

####  Find one document written by this author

In [113]:
# Find one document written by this author

pp.pprint( 
    nyt_articles_coll.find_one( { 
        'byline.person': { 
            '$elemMatch': { 
                'firstname': 'Paul',
                'lastname': 'Krugman' 
            } 
        }
    } )
)

{'_id': 'nyt://article/ab590671-f1be-5b6d-8212-a7d18aabb873',
 'abstract': 'Reasons to be hopeful about the Biden economy.',
 'byline': {'organization': None,
            'original': 'By Paul Krugman',
            'person': [{'firstname': 'Paul',
                        'lastname': 'Krugman',
                        'middlename': None,
                        'organization': '',
                        'qualifier': None,
                        'rank': 1,
                        'role': 'reported',
                        'title': None}]},
 'document_type': 'article',
 'headline': {'content_kicker': None,
              'kicker': None,
              'main': 'Things Will Get Better. Seriously.',
              'name': None,
              'print_headline': 'Things Will Get Better. Seriously.',
              'seo': None,
              'sub': None},
 'keywords': [{'major': 'N',
               'name': 'persons',
               'rank': 1,
               'value': 'Biden, Joseph R Jr'},
              {'major': 'N',
               'name': 'subject',
               'rank': 2,
               'value': 'United States Economy'},
              {'major': 'N',
               'name': 'subject',
               'rank': 3,
               'value': 'Labor and Jobs'},
              {'major': 'N',
               'name': 'subject',
               'rank': 4,
               'value': 'Alternative and Renewable Energy'},
              {'major': 'N',
               'name': 'subject',
               'rank': 5,
               'value': 'Stimulus (Economic)'},
              {'major': 'N',
               'name': 'subject',
               'rank': 6,
               'value': 'Vaccination and Immunization'},
              {'major': 'N',
               'name': 'subject',
               'rank': 7,
               'value': 'Coronavirus (2019-nCoV)'},
              {'major': 'N',
               'name': 'subject',
               'rank': 8,
               'value': 'United States Politics and Government'}],
 'lead_paragraph': 'The next few months will be hell in terms of politics, '
                   'epidemiology and economics. But at some point in 2021 '
                   'things will start getting better. And thereâ€™s good reason '
                   'to believe that once the good news starts, the improvement '
                   'in our condition will be much faster and continue much '
                   'longer than many people expect.',
 'multimedia': [{'caption': None,
                 'credit': None,
                 'crop_name': 'articleLarge',
                 'height': 393,
                 'legacy': {'xlarge': 'images/2020/12/31/opinion/31krugman1/31krugman1-articleLarge.jpg',
                            'xlargeheight': 393,
                            'xlargewidth': 600},
                 'rank': 0,
                 'subType': 'xlarge',
                 'subtype': 'xlarge',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-articleLarge.jpg',
                 'width': 600},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'jumbo',
                 'height': 670,
                 'legacy': {},
                 'rank': 0,
                 'subType': 'jumbo',
                 'subtype': 'jumbo',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-jumbo.jpg',
                 'width': 1024},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'superJumbo',
                 'height': 1341,
                 'legacy': {},
                 'rank': 0,
                 'subType': 'superJumbo',
                 'subtype': 'superJumbo',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-superJumbo.jpg',
                 'width': 2048},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'thumbStandard',
                 'height': 75,
                 'legacy': {'thumbnail': 'images/2020/12/31/opinion/31krugman1/31krugman1-thumbStandard.jpg',
                            'thumbnailheight': 75,
                            'thumbnailwidth': 75},
                 'rank': 0,
                 'subType': 'thumbnail',
                 'subtype': 'thumbnail',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-thumbStandard.jpg',
                 'width': 75},
                {'caption': None,
                 'credit': None,
                 'crop_name': 'thumbLarge',
                 'height': 150,
                 'legacy': {},
                 'rank': 0,
                 'subType': 'thumbLarge',
                 'subtype': 'thumbLarge',
                 'type': 'image',
                 'url': 'images/2020/12/31/opinion/31krugman1/31krugman1-thumbLarge.jpg',
                 'width': 150}],
 'news_desk': 'OpEd',
 'print_page': '18',
 'print_section': 'A',
 'pub_date': '2021-01-01T00:00:09+0000',
 'section_name': 'Opinion',
 'snippet': 'Reasons to be hopeful about the Biden economy.',
 'source': 'The New York Times',
 'type_of_material': 'Op-Ed',
 'uri': 'nyt://article/ab590671-f1be-5b6d-8212-a7d18aabb873',
 'web_url': 'https://www.nytimes.com/2020/12/31/opinion/2021-economy-recovery.html',
 'word_count': 882}

In [114]:
#  SELECT * 
#  FROM nyt_articles_coll 
#  WHERE section_name IN ("Opinion", "World")
query_results = nyt_articles_coll.find( 
    { 
        "section_name": { "$in": ["Opinion", "World"] } 
    } 
).limit(2)

print_results_in_dataframe(query_results)

,_id,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,word_count,uri
0,nyt://article/ab590671-f1be-5b6d-8212-a7d18aab...,Reasons to be hopeful about the Biden economy.,https://www.nytimes.com/2020/12/31/opinion/202...,Reasons to be hopeful about the Biden economy.,The next few months will be hell in terms of p...,A,18,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Things Will Get Better. Seriously.',...","[{'name': 'persons', 'value': 'Biden, Joseph R...",2021-01-01T00:00:09+0000,article,OpEd,Opinion,"{'original': 'By Paul Krugman', 'person': [{'f...",Op-Ed,882,nyt://article/ab590671-f1be-5b6d-8212-a7d18aab...
1,nyt://article/d75205a5-201f-5dc3-b8fe-278c3d64...,The United States recorded its 20 millionth ca...,https://www.nytimes.com/2020/12/31/world/the-u...,,The United States recorded its 20 millionth ca...,NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'The U.S. reaches 20 million cases.',...","[{'name': 'subject', 'value': 'internal-essent...",2021-01-01T01:28:22+0000,article,Foreign,World,"{'original': 'By Kate Taylor', 'person': [{'fi...",News,438,nyt://article/d75205a5-201f-5dc3-b8fe-278c3d64...

In [115]:
#  SELECT byline.origina AS 'author'
#  FROM   nyt_articles_coll 
#  WHERE  byline_original LIKE "%Paul%" 

# This is a projection in MongoDB that returns a new field named "author",
# which is either the first element of an array named "byline.original"
# in a document, or the value of "byline.original" itself if it is not an array.
query_results = nyt_articles_coll.find(
    { 
        "byline.original": { "$regex": ".*Paul.*"}
    },
    {
        "_id": 0,
        "byline.original": 1,
        "author": {
            "$cond": {
                "if": { "$isArray": "$byline.original" },
                "then": { "$arrayElemAt": ["$byline.original", 0] },
                "else": "$byline.original"
            }
        } 
    }
)

print_results_in_dataframe(query_results)

,byline,author
0,{'original': 'By Paul Krugman'},By Paul Krugman
1,{'original': 'By Paul Mozur'},By Paul Mozur
2,"{'original': 'By Motoko Rich, Hisako Ueno, Mik...","By Motoko Rich, Hisako Ueno, Mike Ives and Pau..."
3,"{'original': 'By Jack Danforth, Chris Dodd, Ch...","By Jack Danforth, Chris Dodd, Chuck Hagel and ..."
4,{'original': 'By Paul Krugman'},By Paul Krugman
...,...,...
61,{'original': 'By Paul Krugman'},By Paul Krugman
62,{'original': 'By Michael Paulson'},By Michael Paulson
63,{'original': 'By Paul Krugman'},By Paul Krugman
64,"{'original': 'By Paul Mozur, Steven Lee Myers ...","By Paul Mozur, Steven Lee Myers and John Liu"
65,{'original': 'By Michael Paulson'},By Michael Paulson

In [116]:
# Count the articles that an author has written
query_results = nyt_articles_coll.count_documents(
    {
        "byline.original": { "$regex": ".*Paul Krugman.*", "$options": "i" }
    }
)

print("Paul Krugman has written", query_results, "articles.")

Paul Krugman has written 26 articles.

In [119]:
# Count the number of articles of the section_names
query_results = nyt_articles_coll.aggregate(
    [
        { 
            "$group": 
                    { 
                        "_id": "$section_name", 
                        "count_articles": { "$sum": 1 } 
                    }
        },
        {
            "$sort": { "count_articles": -1 }
        }
    ]
)

print_results_in_dataframe(query_results)

                            _id  count_articles
0                          U.S.            4306
1                         World             955
2                       Opinion             676
3                  Business Day             645
4                          Arts             535
5                        Sports             429
6                      New York             387
7                         Books             289
8                         Style             223
9                      Briefing             213
10         The Learning Network             212
11                  Real Estate             192
12                       Movies             189
13                         Food             189
14                   Technology             148
15           Crosswords & Games             127
16                       Health             121
17                         Well             114
18                      Science             104
19                     Magazine              97
20                      Theater              81
21                      Climate              76
22                     Podcasts              71
23                Todayâ€™s Paper              62
24                  Corrections              60
25                      At Home              48
26                       Travel              38
27                   Obituaries              38
28                   The Upshot              33
29                Times Insider              32
30                   T Magazine              29
31              Fashion & Style              27
32                   Your Money              17
33                    Parenting              14
34                        Admin               5
35               Smarter Living               5
36  The New York Times Presents               2
37                    Universal               2
38                                            2
39           International Home               1
40                        Burst               1
41               Special Series               1
42            Multimedia/Photos               1
43                     Homepage               1
44                    Education               1
45                        Video               1

#### Number of articles with [string] byline.original field, and in which not.

In [121]:

query_words = 'Krugman'

# == QUERY ==
# SELECT COUNT(*) FROM articles 
# WHERE query_field LIKE '%query_words%'
nr_with = nyt_articles_coll.count_documents(
            filter = {
                        "byline.original" : { '$regex': query_words, '$options' : 'i' }
                    } 
            )

# SELECT COUNT(*) FROM articles 
# WHERE query_field NOT lIKE '%query_words%'
nr_without = nyt_articles_coll.count_documents( 
            filter = {
                        "byline.original" : { 
                                                '$not': {
                                                    '$regex': query_words,
                                                    '$options' : 'i'
                                                }
                                            }
                    } 
            )

# COUNT ALL Articles (documents)
total_articles = nyt_articles_coll.count_documents({})


# == PRINT RESULTS ==
print(  'Nr Articles WITH word(s)    "' + query_words + '"  IN "' + query_field + '" =', nr_with, 
      '\nNr Articles WITHOUT word(s) "' + query_words + "'  IN '" + query_field + '" =', nr_without,
      '\nCHECK: Nr Total =', total_articles, '  |  Sum =', (nr_with + nr_without) )

Nr Articles WITH word(s)    "Krugman"  IN "byline.original" = 26
Nr Articles WITHOUT word(s) "Krugman'  IN 'byline.original" = 10774
CHECK: Nr Total = 10800   |  Sum = 10800

#### Number of articles written by a byline.original (One or more authors, and with stopwords)

In [122]:
## Group and Count per field value

# == CONFIGURATION ==
# SELECT COUNT(*) FROM articles
# GROUP BY query_field
# ORDER COUNT(*) DESC
# LIMIT 10
query_field = 'news_desk'
query_field = 'byline.original'

# == QUERY ==
pipeline = [ 
    {
        '$group':
        {
            '_id': '$'+query_field, 
            'NrArticles':  {'$sum': 1 } 
        }
    },
    {
        '$sort': {'NrArticles': -1} 
    },
    {
        '$limit': 50 
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)

print_results_in_dataframe(query_results)

                                                  _id  NrArticles
0                                  The New York Times        1934
1                                                            1236
2                             By The Learning Network         111
3                               By The New York Times          83
4                               By Florence Fabricant          63
5                                     By Trish Bendix          39
6                                  By David Leonhardt          36
7                                        By Deb Amlen          35
8                                    By Melina Delkic          35
9                                    By Natasha Frost          35
10                                      By Sam Sifton          35
11                                  By Jonathan Wolfe          34
12                            By The Associated Press          33
13                                         By Reuters          33
14                                By Caitlin Lovinger          31
15                  By Isaac Aronow and Doug Mennella          31
16                                     By Shira Ovide          30
17                                 By Nicholas Fandos          30
18                                  By Jeanna Smialek          29
19                                By Michael Levenson          28
20                                      By Clay Risen          26
21                                      By Carl Hulse          26
22                             By Giovanni Russonello          26
23                                     By Neil Vigdor          26
24                                By Richard Sandomir          26
25                                    By Paul Krugman          26
26                             By The Editorial Board          25
27                                By Vanessa Friedman          25
28                                     By Adam Liptak          24
29                              By Apoorva Mandavilli          24
30                                  By Nicole Daniels          23
31                                    By Jeremy Engle          23
32                                By Tara Parker-Pope          23
33                                     By Ben Shpigel          23
34                                     By Ben Sisario          23
35                                      By Sarah Bahr          22
36                                 By Neil Genzlinger          21
37                                    By James Barron          21
38                                   By Choe Sang-Hun          21
39                                 By Katherine J. Wu          20
40  By Andrew Ross Sorkin, Jason Karaian, Sarah Ke...          19
41                                      By Remy Tumin          19
42  By Andrew Ross Sorkin, Jason Karaian, Michael ...          19
43                                 By Maggie Haberman          19
44                             By Sheryl Gay Stolberg          18
45                                     By Peter Baker          18
46                                      By Ken Belson          18
47                                  By Emily Cochrane          18
48                                    By C. J. Hughes          18
49                                    By Maria Cramer          17

#### Query documents written for at least this two authors. Count the different bylines collaborations they have.

In [97]:
# Query documents written for at least this two authors.
# Count the different bylines collaborations they have.

pipeline = [ 
    {
        "$match": {
            "$and": [
                {
                    "byline.person": {
                        "$elemMatch": {
                            "firstname": "Ephrat",
                            "lastname": "Livni"
                        }
                    }
                },
                {
                    "byline.person": {
                        "$elemMatch": {
                            "firstname": "Lauren",
                            "lastname": "Hirsch"
                        }
                    }
                }
            ]
        }
    },
    {
        '$group':
        {
            '_id': '$byline.original', 
            'NrArticles':  {'$sum': 1 } 
        }
    },
    {
        '$sort': {'NrArticles': -1} 
    },
    {
        '$limit': 50 
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)
pp.pprint(list(query_results))

[{'NrArticles': 19,
  '_id': 'By Andrew Ross Sorkin, Jason Karaian, Michael J. de la Merced, '
         'Lauren Hirsch and Ephrat Livni'},
 {'NrArticles': 19,
  '_id': 'By Andrew Ross Sorkin, Jason Karaian, Sarah Kessler, Stephen Gandel, '
         'Michael J. de la Merced, Lauren Hirsch and Ephrat Livni'},
 {'NrArticles': 1,
  '_id': 'By Andrew Ross Sorkin, Jason Karaian, Stephen Gandel, Michael J. de '
         'la Merced, Lauren Hirsch and Ephrat Livni'}]

#### Create an AUTOMATIC distribution. Like an Histogram. Nr of Articles per Word Count Automatic-Range

In [125]:
# Create an AUTOMATIC distribution. Like an Histogram
# Nr of Articles per Word Count Automatic-Range

# == QUERY ==
pipeline = [
    {
        '$bucketAuto' : {
             'groupBy': '$word_count',
             'buckets': 10
         }
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)

print_results_in_dataframe(query_results)

                           _id  count
0         {'min': 0, 'max': 6}   3147
1       {'min': 6, 'max': 366}   1080
2     {'min': 366, 'max': 602}   1084
3     {'min': 602, 'max': 841}   1086
4    {'min': 841, 'max': 1052}   1084
5   {'min': 1052, 'max': 1248}   1085
6   {'min': 1248, 'max': 1468}   1082
7   {'min': 1468, 'max': 3120}   1080
8  {'min': 3120, 'max': 12381}     72

### Create a MANUAL distribution. Like an Histogram. Nr of Articles per Word Count Manual-Range
i.e.: [0-500) = 34219   // O included - 500 excluded

In [126]:
# Create a MANUAL distribution. Like an Histogram
# Nr of Articles per Word Count Manual-Range
# i.e.: [0-500) = 34219   // O included - 500 excluded

# == QUERY ==
pipeline = [
    {
        '$bucket' : {
            'groupBy' : '$word_count',
            'boundaries' : [ 0,500,1000,1500,2000,2500,3000,3500,4000,4500, 5000, 5500 ],
            'default' : 'Above 5500',
            'output' : {
                'count' : { '$sum' : 1 }
            }
        }
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)

print_results_in_dataframe(query_results)

           _id  count
0            0   4878
1          500   2351
2         1000   2527
3         1500    817
4         2000    112
5         2500     40
6         3000     14
7         3500     12
8         4000     15
9         4500      9
10        5000      5
11  Above 5500     20

#### Retrieve the UNIQUE DISTINCT values of a field

In [131]:
# Retrieve the UNIQUE DISTINCT values of a field

# Configure the field you want to search unique
fields = ['section_name', 'news_desk', 'print_section', 'source', 'document_type', 'type_of_material']

query_field = fields[5]


name_result_query_field = 'unique_' + query_field

pipeline =[
  {
    '$unwind': {
      'path': '$' + query_field,
      'preserveNullAndEmptyArrays': True
    }
  },
  {
    '$group': {
      '_id': 'null',
      name_result_query_field: { '$addToSet': '$' + query_field }
    }
  }
]

query_results = nyt_articles_coll.aggregate(pipeline)

# pprint(list(query_results))

list_results = list(query_results)

for item in list_results[0]['unique_type_of_material']:
    print(item)

Slideshow
Letter
List
News
News Analysis
Obituary (Obit)
Editorial

Correction
Op-Ed
briefing
Video
Quote
Interactive Feature
Review

#### Total of words of the articles that contain a [string] in a headline.main, groupped by section_name

In [132]:
pipeline = [
    # Stage 1: Filter the headline.main field with the [string]
    {
        "$match": { 
            "headline.main": { "$regex": ".*Brexit.*"} 
        }
    },
    # Stage 2: Gropu by section and calculate the total words
    {
        "$group": { 
            "_id": "$section_name",
            "total_quantity": { "$sum": "$word_count"}}
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)

print_results_in_dataframe(query_results)

                    _id  total_quantity
0          Business Day            5093
1  The Learning Network               0
2               Opinion            1310
3                 World            2988

#### Total words in the articles where a [string] is in byline.person.firstname

In [133]:
pipeline = [
    # Stage 1: Filter the headline.main field with the [string]
    {
        "$match": { 
            "byline.person.firstname": "Paul"
        }
    },
    # Stage 2: Gropu by section and calculate the total words
    {
        "$group": { 
            "_id": "$byline.person.firstname",
            "total_quantity": { "$sum": "$word_count"}}
    }
]

query_results = nyt_articles_coll.aggregate(pipeline)

print_results_in_dataframe(query_results)

                            _id  total_quantity
0                        [Paul]           34445
1  [Motoko, Hisako, Mike, Paul]             331
2                  [Paul, Cade]             973
3          [Paul, Steven, John]            1092
4    [Jack, Chris, Chuck, Paul]             824
5                 [Paul, Aaron]            1168
6                  [Alan, Paul]             589